footer {
  background: $main;
  padding: 1.563rem 0;
  p, span {
    @extend .main-font;
    color: $sec;
    text-align: center;
    margin: 0;
  }
  a {
    @extend .main-font;
    color: $sec;
    text-align: center;
    margin: 0;
    &:hover {
      color: #900;
    }
  }
}
