$main-font: 'Open Sans', sans-serif;
$content-font-family: 'Lora', 'Times New Roman', serif;
$code-font: 'Source Code Pro', monospace;

.main-font {
  font-family: $main-font;
  font-style: normal;
  text-decoration: none;
  font-weight: 300;
}

.content-font {
  font-family: $content-font-family;
  font-style: normal;
  text-decoration: none;
  font-weight: 300;
}

.code-font {
  font-family: $code-font;
}

// theme color
$main: #2c3e50;
$sidemenu: #242f3a;
$hover: darken($main, 50%);
$sec: #FFFFFF;
$lightGray: #F2F2F2;
$texts: #333333;
$colorcode: #3085F4;
$loader-color: #FFFFFF;

/**
  * adjust with your disqus theme
  * if your disqus theme is dark, the color should be darken. 
  * if your disqus theme is light, the color should be lighten
*/
$comment-theme: #304165; 

// responsive cut
$cut: 37.5rem;
