{% include preloader.html %}
<header style="background-image: url('{{ page.image | prepend: site.baseurl }}')" class="header-site" role="banner">
  <figure class="header-overlay"></figure>
  <div class="content">
    <h1>
      <span data-aos="flip-left" class="site-title shadow-text">{{site.username}}</span>
      <span data-aos="flip-right" class="site-description shadow-text">
        {% if page.subtitle %}
        {{ page.subtitle }}
        {% else %}
        {{ site.author.title }}
        {% endif %}
      </span>
    </h1>
    
    <div class="icons-home">
      {% include social-network.html %}
    </div>
  </div>
  <a class="down" data-scroll href="#content"><svg class="icon icon-angle-down">
      <use xlink:href="#icon-angle-down"></use>
    </svg></a>
  {% include menu-search.html %}
</header>