<script type="text/javascript" src="{{ " /assets/js/lib/jquery.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/lib/aos.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/lib/skillbar.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/lib/smoothscroll.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/lib/sweetalert.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/UIController.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/Pagination.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/Search.js" | prepend: site.baseurl }}"></script>