<a rel="noopener" data-aos="flip-right" data-aos-anchor-placement="top-bottom" aria-label="Отправить email"
  href="mailto:{{site.email}}"><svg class="icon icon-email">
    <use xlink:href="#icon-email"></use>
  </svg></a>
<a rel="noopener" data-aos="fade-left" data-aos-anchor-placement="top-bottom" aria-label="Мой профиль на Github"
  target="_blank" href="https://github.com/{{site.github_username}}"><svg class="icon icon-github-alt">
    <use xlink:href="#icon-github-alt"></use>
  </svg></a>
<a rel="noopener" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" aria-label="Моя страница на Facebook"
  target="_blank" href="https://www.facebook.com/{{site.facebook_page}}"><svg class="icon icon-facebook">
    <use xlink:href="#icon-facebook"></use>
  </svg></a>
<a rel="noopener" data-aos="fade-right" data-aos-anchor-placement="top-bottom" aria-label="Мой Instagram"
  target="_blank" href="https://www.instagram.com/{{site.instagram_username}}"><svg class="icon icon-instagram">
    <use xlink:href="#icon-instagram"></use>
  </svg></a>
<a rel="noopener" data-aos="fade-right" data-aos-anchor-placement="top-bottom" aria-label="Написать мне в Telegram"
  target="_blank" href="https://t.me/{{site.telegram_username}}"><svg class="icon icon-telegram">
    <use xlink:href="#icon-telegram"></use>
  </svg></a>

{% comment %}
<a rel="noopener" aria-label="Use the RSS to get updated" target="_blank" href="{{ " /feed.xml" | prepend:site.baseurl
  }}"><svg class="icon icon-rss">
    <use xlink:href="#icon-rss"></use>
  </svg></a>
{% endcomment %}